server:
  port: 8081

spring:
  application:
    name: hmdp

  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/hm-dianping?useSSL=false&serverTimezone=UTC
    username: root
    password: ASDFGHJKL

  redis:
    host: 127.0.0.1
    port: 6379
    database: 0
    timeout: 10000

  jackson:
    default-property-inclusion: non_null # JSON处理时忽略非空字段

mybatis-plus:
  type-aliases-package: com.hmdp.entity # 别名扫描包

logging:
  level:
    com.hmdp: debug